.project {
    margin: 10px;
    border: 0.5px solid black;
    border-radius: 10px;
    width:150px;
    padding:5px;
    box-sizing: border-box;
}

.project-title {
    border-bottom: 0.3px solid gray;
    margin: 1% 5%;
}

.project-grid{
    display:flex;
    flex-wrap:wrap;
}

li {
    list-style: none;
    display:inline;
    padding:0% 5%;
    text-decoration: none;
}
a{
    text-decoration: none;
}
.navBar-ul{
    margin-left:50%;
}
.list-icon {
    height: 2em;
    width:2em;
    background-color:white;
    border:none;
}
.list-button{
    border:none;
    background-color: white;
}
.listBox {

    margin:5px;
    border: 0.5px solid grey;
    border-radius: 10px;
    height: 40px;
    padding:5px;
    box-sizing: border-box;

}
.listBox-ul {
    margin:0% 30% 0% 0%;
    height: 75px;
padding:0px; 
text-align: left;
height: 40px;
    
}
.checkBox {
    margin:0%;
}
.listBox-ul li {
    padding-right: 5px;
    padding-left: 0 px;
}
.list-features{
    margin:0% 0% 0% 20%;
    border: 0.7px solid black;
    border-radius: 10px;
    width:80%;
    padding:5px;
    box-sizing: border-box;
    display:block;
}
.listItem-grid{
    display:flex;
    flex-wrap:wrap;
    margin:auto;
}

.list-add {
    margin:auto;
}
.list-add-container {
    margin:auto;
    border: 0.7px solid black;
    border-radius: 10px;
    width:80%;
    padding:5px;
    box-sizing: border-box;
    display:block;
}
h3 {
    margin:0px;
}

.userContainer{
    height: 10%;
    display:inline-flex;
}
.userCircle {
    /* height: 100px; 
    width:100px;
    border: 0.1px solid grey;
    box-shadow: inset 0px 0px 40px 40px #DBA632;
    border-width:2em;
    border-radius: 95px; */

    height: 100px;
    width: 100px;
    padding: 1em;
    margin: 1em;
    border: 0.1px solid grey;
    box-shadow: 0px 0px 10px 0px grey;
    border-radius: 95px;
}
.user-button{

}
.App {
    margin:auto;
    height: 100%;
}
.listItem-container{
    margin:auto;
}

.form-label {
    margin: 0% 2% 0% 5%;
}
.Home {
    height: 100%;
}
main {
    height: 100%;
}
#root{
    height:700px;
}
body{
    height:100%;
}
.addUserErrorOff{
    visibility: hidden;

}
.addUserErrorOn{
    visibility: visible;
    color: red;
}

.editFormOff {
    visibility: hidden;
}
.editFormOn {
    visibility: visible;
}